@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  position: fixed; 
  height: 100%; 
  transition: width 0.3s ease-in-out;
}

.sidebar-logo img {
  transition: opacity 0.3s ease-in-out;
}

main {
  transition: margin-left 0.3s ease-in-out;
}

.sidebar.w-64 + main {
  margin-left: 16rem; 
}

.sidebar.w-20 + main {
  margin-left: 5rem; 
}