@tailwind base;
@tailwind components;
@tailwind utilities;
/* AdminNavigation.css */
.sidebar {
  position: fixed; /* Fixa a barra de navegação à esquerda */
  height: 100%; /* Faz com que a barra de navegação ocupe toda a altura */
  transition: width 0.3s ease-in-out;
}

.sidebar-logo img {
  transition: opacity 0.3s ease-in-out;
}

/* LayoutAdm.css */
main {
  transition: margin-left 0.3s ease-in-out;
}

.sidebar.w-64 + main {
  margin-left: 16rem; /* A largura da barra de navegação expandida */
}

.sidebar.w-20 + main {
  margin-left: 5rem; /* A largura da barra de navegação contraída */
}