/* Estilo para o contêiner principal do dashboard */
.dashboardAdm-container {
  margin-left: 15%;
  margin-top: 4%;
  height: 100%;
  color: white;
  width: 100vh;
}

.dashboardAdm-container h1 {
  color: white;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-container {
  display: flex; /* Alinha os cards em uma linha */
  gap: 20px; /* Espaço entre os cards */
  margin-top: 20px; /* Espaçamento superior */
}

.card {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo levemente transparente */
  padding: 20px; /* Espaçamento interno */
  border-radius: 8px; /* Cantos arredondados */
  width: 350px; /* Largura fixa para cada card */
  height: 170px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

.card-content {
  display: flex; /* Alinha os itens em uma linha */
  align-items: center; /* Centraliza verticalmente os itens */
  margin-top: 10%;
}
/* Estilo para o ícone de eventos */
.event-icon {
  font-size: 2.3rem; /* Tamanho do ícone */
  color: #ffffff; /* Cor do ícone */
  margin-right: 10px; /* Espaçamento à direita do ícone */
}

.user-avatar {
  font-size: 2.3rem; /* Tamanho do ícone */
  color: #ffffff; /* Cor do ícone */
  margin-right: 10px; /* Espaçamento à direita do ícone */
}

.card h3 {
  margin: 0; /* Remove as margens para um melhor alinhamento */
  font-size: 1.5rem; /* Tamanho do título */
  color: white;
}

/* Estilo para a linha divisória */
.card-divider {
  border: none; /* Remove a borda padrão */
  border-top: 1px solid #ffffff; /* Linha fina de cor branca */
  margin: 15px 0; /* Espaçamento acima e abaixo da linha */
  opacity: 0.1; /* Transparência para suavizar a linha */
  margin-top: 15% ;
}


/* Estilo para o botão Show details */
.details-button {
  background-color: transparent; /* Fundo transparente */
  color: #f2f2f3; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  cursor: pointer; /* Mostra que é clicável */
  font-size: 1.5rem; /* Tamanho da fonte */
  display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
  justify-content: space-between; /* Espaça o texto e a seta */
  align-items: center; /* Centraliza verticalmente */
  width: 100%; /* Para que o texto e a seta ocupem toda a largura */
  transition: color 0.3s ease; /* Transição suave para a cor */
}

.details-arrow {
  margin-left: auto; /* Move a seta para o lado direito do botão */
  color: #f2f2f3; /* Cor da seta */
}

.details-button:hover .details-arrow {
  color: #ffaa00; /* Muda a cor da seta ao passar o mouse */
}

.details-button:hover {
  color: #ffaa00; /* Muda a cor da seta ao passar o mouse */
}

