@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-main {
  display: flex;
}

.login-left {
  flex-grow: 1;
  height: 100vh;
  background: linear-gradient(200deg, #0a0c26, #0e0f22); /* Gradiente linear para a seção direita */background-color: #191a4b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left img {
  width: 800px;
}

.login-right {
  height: 100vh;
  flex-grow: 1;
}

.login-right-container {
  height: 100%;
  background: linear-gradient(135deg, #191a4b, #101238); /* Gradiente linear para a seção direita */background-color: #191a4b;
  background: linear-gradient(200deg, #62638d, #101238); /* Gradiente linear para a seção direita */background-color: #191a4b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-logo {
  align-self: center;
  padding-top: 50px;
}

.login-center {
  color: white;
  margin: auto 0;
  text-align: center; 
}

.login-logo img {
  width: 300px;
}

.login-center h2 {
  font-size: 3.5rem;
}

.login-center p {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 40px;
}

.input-container {
  position: relative; 
  margin-bottom: 16px; 
}

.input-container label {
  position: absolute; 
  left: 10px; 
  padding-top: 19px;
  display: flex;
  margin-left: 35%;
  top: 25%; 
  transform: translateY(-50%); 

  font-size: 1.6rem; 
  color: #ae8585; 
  transition: 0.2s ease all; 
}

.input-container input {
  border: none; 
  outline: none; 
  padding: 10px 0; 
  width: 30%; 
  margin: 0; 
  display: flex;
  margin-left: 35%;
  background-color: transparent;
  font-size: 1.6rem; 
  color: #fff; 
}

.input-line {
  width: 30%;
  height: 2px;
  display: flex;
  margin-left: 35%;
  background-color: #ccc;
  position: absolute; 
  bottom: -4px; 
  left: 0; 
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: -50; 
  left: 30%; 
  display: flex;
  font-size: 1.2rem; 
  margin-left: 1%;
  opacity: 0;
}

.remember-div {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  margin-left: 35%;
  margin-bottom: 16px; 
  gap: 10px; 
}

.remember-div input[type="checkbox"] {
  appearance: none; 
  width: 20px; 
  height: 20px; 
  border: 2px solid #ccc; 
  border-radius: 4px; 
  cursor: pointer; 
  background-color: #191a4b; 
  position: relative; 
}


.remember-div input[type="checkbox"]:checked {
  background-color: #101238; 
}


.remember-div input[type="checkbox"]:checked::after {
  content: "✓"; 
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  font-size: 14px; 
}


.password-toggle-icon {
  position: absolute;
  right: 5%; 
  left: 60%;
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer; 
  color: #ae8585; 
  font-size: 1.6rem;
}

.password-toggle-icon {
  font-size: 2rem; 
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #191a4b inset !important; 
  -webkit-text-fill-color: #fff !important; 
  transition: background-color 5000s ease-in-out 0s; 
}

.login-center-options {
  display: inline-flex;
  justify-content: space-between; 
  width: 50%; 
  margin-left: 18%;
}

.forgot-pass-link {
  color: #fff; 
  text-decoration: dotted; 
  font-size: 1.4rem; 
}

.forgot-pass-link:hover {
  text-decoration: underline; 
}


form button[type='button'],
form button[type='submit'] {
  width: 30%;
  justify-content: center;
  padding: 16px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 30px; 
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.login-center-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.login-center-buttons button:nth-child(1) {
  background-color: #3510ac;
  color: white;
}

.login-center-buttons button:nth-child(1):hover {
  color: white;
  background-color: #332366;
}

.login-center-buttons button:nth-child(2) {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.login-center-buttons button:nth-child(2) img {
  width: 30px;
}

.login-center-buttons button:nth-child(2):hover {
  background-color: #c4c4c457;
}

.error-message {
  color: #ff4d4d; 
  font-weight: 500; 
  margin-top: 10px; 
  padding: 8px; 
  border-radius: 5px; 
  display: inline-block; 
}

.login-bottom-p {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.login-bottom-p a {
  text-decoration: none;
  font-weight: 600;
}

.login-bottom-p a:hover {
  text-decoration: underline;
}
