.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.event-item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
  padding: 16px; 
  transition: transform 0.3s, box-shadow 0.3s; 
  width: 300px; 
}

.event-item:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.triste-imagem {
  display: block; 
  margin: 20px auto; 
  width: 100px; 
  height: auto; 
}